body {
   font-size: 13px;
   font-family: Arial;
   margin: 0px;
   background: #cccccc;
}

a {
  text-decoration: none;
  color: #000000;
}

#header {
  margin: 0px;
  color: #ffffff;
  background: #000000;
  border-bottom: 1px solid #000000;
  padding: 0.5em;
  text-align: center;
}

#header h1 {
  margin: 0px;
}

#subheader {
  text-align: center;
  color: #555555;
}

#subheader #status {
  color: #ff0000;
  font-weight: bold;
}

.item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0.2em;
  color: #000000;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 0.5em;
  padding-right: 30px;
  background-image: url(arrow.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 25px 20px;
  cursor: pointer;
}

.itemtext {
  display: inline;
}

.itemdate, .itemupdated {
  font-size: smaller;
  color: #555555;
}

.item h2 {
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

.feedflare, .mf-viral {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .item {
      background-image: url(arrow@2x.png);
  }
}
																	   }
																	    }
